{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "trailingComma": "none",
    "singleQuote": true,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "requirePragma": false,
    "insertPragma": false,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "strict",
    "endOfLine": "lf"
}
